<md-sidenav class="md-sidenav-left md-whiteframe-z2" 
	md-component-id="left"
	md-is-open="vm.sidenavOpen">

	<md-toolbar>
		<h1 class='md-toolbar-tools'>Add a Classified</h1>
	</md-toolbar>

	<md-content layout-padding>


		<form action="">

			<md-input-container class="md-block">
				<label for="title">Title</label>
				<input type="text" id="title" 
					ng-model="classified.title"
					md-autofocus>
			</md-input-container>

			<md-input-container class="md-block">
				<label for="price">Price</label>
				<input type="text" 
					ng-model="classified.price"
					id="price">
			</md-input-container>

			<md-input-container class="md-block">
				<label for="description">Description</label>
				<textarea ng-model="classified.description" type="text" id="description"></textarea>
			</md-input-container>

			<md-input-container class="md-block">
				<label for="image">Image Link</label>
				<input type="text" 
					ng-model="classified.image"
					id="image">
			</md-input-container>

			<md-button class="md-primary"
				ng-click="vm.saveClassified(classified)" ng-if="!editing">
				Save
			</md-button>

			<md-button class="md-primary" ng-if="editing" ng-click="vm.saveEdit()">
				Save Edit
			</md-button>
			
			<md-button class="md-warn" ng-click="vm.closeSidebar()">
				Cancel
			</md-button>

		</form>

	</md-content>

</md-sidenav>